<h3>Filling in form {{form.name}}</h3>

<form class="simple-form">

    <table class="table table-striped">
        <tr ng-repeat="dataElement in form.programStageDataElements">
           <td>{{dataElement.dataElement.name.substring(5)}}<span style="color:red;" ng-show="dataElement.compulsory"><strong> *</strong></span></td>
            <td><input ng-model="contents[dataElement.dataElement.id]" ng-required="{{dataElement.compulsory}}" /></td>
        </tr>
    </table>
    <button ng-click="reset()">RESET</button>
    <button ng-click="update(contents)">SAVE</button>
</form>
        <hr>

<!-- Shows output from contents and master for debug purposes -->
<pre>contents = {{contents | json}}</pre>
<pre>master = {{master | json}}</pre>
