<p>Welcome to the skipLogic demo for DHIS2. Please select program for entry below</p>
<div id="programs">
   <!--   <p><strong>Please select program</strong></p>  -->
   <table class="table">
      <input type="text" placeholder="Filter programs" ng-model="programFilter" />
   </table>

   <table class="table table-striped">
      <tr ng-repeat="program in programs.programs | filter: programFilter | orderBy: name">
         <td><a ng-click="getStages( program )">{{ program.name }}</a></td>
      </tr>
   </table>
</div>

<div id="programStages" ng-show="showStages">
   <h3>{{ selectedProgramName }}</h3>
   <p>You must now select the stage for your program. To view and change the logic, use the link on the right.</p>
   <!--   <p><strong>Please select stage</strong><p>  -->
   <table class="table">
      <input type="text" placeholder="Filter stages" ng-model="programStageFilter" />
   </table>

   <table class="table table-striped">
      <tr ng-repeat="stage in programStages.programStages | filter: programStageFilter | orderBy: name">
         <td><a href="#/fillForm/{{ stage.id }}">{{stage.name}}</a></td>
         <td><a href="#/editLogic/{{ stage.id }}">(edit skipLogic)</a></td>
      </tr>
   </table>
</div>
